
{{#with products as |product|}}
<div class="productTop">
    <img class="productImage" src="/assets/images/{{image}}" />
</div>
<div class="product">
    <h1 class="productName">{{name}}</h1>
    <div class="productDescription">
        <h1> {{description}}</h1>
    </div>
    <div class="productPurchase">
        <h1> Available for purchase <a class="purchaseLink" href="{{link}}">here</a> for ${{price}}.00</h1>
    </div>
    
</div>
{{/with}}