{{#with products as |product| }}
<div class="product">
<img src="/assets/images/{{product.image}}"/>
<h1 class="productName">{{product.name}}</h1>
<h1 class="productDescription">{{product.description}}</h1>
<h1 class="productPrice">{{product.price}}.00</h1>
<h1 class="productLink"><a href="{{product.link}}">Buy Here!</a></h1>
<h1 class="productReviews">{{product.reviews}}</h1>
</div>
{{/with}}
