<link rel="stylesheet" href="../public/css/starReview.css">

{{#each reviews as |review|}}
<div class="text-center">
  <h1>Product: {{product.name}}</h1>
  <p>User: {{user_id}}</p>
  <p>Rating: {{stars}}</p>
  <p>Review: {{review.text}}</p>
  <p>Submitted: {{date_created}}</p>
</div>
{{/each}}

<script src="../public/js/starReview.js"></script>
