<div class="text-center">
  <h2>{{product_id}}</h2>
  <p>{{user_id}}</p>
  <p>{{stars}}</p>
  <p>{{text}}</p>
  <p>Created by {{user.user_name}} on {{format_date date_created}}</p>
</div>

<script src="./js/starReview.js"></script>